/ChannelFlow/bin
/ChannelFlow/obj
/Dynamics/bin
/Dynamics/obj
/Dynamics.Tests/bin
/Dynamics.Tests/obj
/Internals/bin
/Internals/obj
/L02_SolarFlux/bin
/L02_SolarFlux/obj
/L03_Percolation/bin
/L03_Percolation/obj
